doctype html
html(ng-app='myApp')
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='/javascripts/angular.min.js')
    script(src='/javascripts/angular-resource.js')
    script(src='/javascripts/angular-route.js')
    script(src='/javascripts/angular-sanitize.js')
    script(src='/javascripts/angular-module-cookies.js')
  body
    block content
  script(src='/javascripts/main.js')